<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
	
  <p id="texto">Windows</p>

  <h1>May the ops be with you</h1>

  <ul class="quotes">
    <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
    <% } %>
  </ul>

  <h2>Add a quote</h2>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
	<input type="reset" value="Limpar">
	<input type="reset" value="Clique aqui" onclick="funcao()">
  </form>

  <script src="main.js"></script>
	
<script>
function funcao() {
    document.getElementById("texto").innerHTML = "Linux is better";
}
</script>	
	
</body>

</html>